html{
    font-family: 'Roboto Serif', serif;
    font-size: 25px;
}

body{
    background-color: antiquewhite;
}

header{
    background-image: url(resources/header\ background.jpg);
    padding: 5px;
    border-radius: 2px;
}

header h1{
    text-align: center;
}

#git-logo{
    max-width: 100px;
    border: none;
}

.content{
    max-width: 800px;
    margin: auto;
    background-color: rgb(202, 193, 193);
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
}

.image-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

img{
    padding-top: 5px;
    margin: 5px;
    border: solid;
}

.command{
    text-align: center;
    font-size: 200%;
}

.fotter{
    background-color: rgb(234, 196, 125);
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
}